# --- Database Configuration ---
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=sturelief
DB_PORT=5432

# --- Web Server Configuration ---
JWT_SECRET=your_32_characters_random_string_here
NEXT_PUBLIC_API_URL=http://localhost:3000/api

# --- Infrastructure ---
CLOUDINARY_URL=cloudinary://api_key:api_secret@cloud_name
